* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}
.flex_go {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.flex_between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.flex_center {
  justify-content: center;
  -webkit-justify-content: center;
}
.flex_end {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.flex_sub {
  -webkit-box-align: flex-end;
  -webkit-flex-align: flex-end;
  -ms-flex-align: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.flex_start {
  -webkit-box-align: flex-start;
  -webkit-flex-align: flex-start;
  -ms-flex-align: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.auto_flex_float {
  -webkit-box-flex: 1 0 auto;
  -moz-box-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.no_mg_bottom {
  margin-bottom: 0;
}

/*Animate page*/
.page-enter-leave,
.page-enter-active {
  transition: opacity .35s;
}

.page-enter,.page-leave-active {
  opacity: 0;
}
